html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 10px;
    color: var(--text);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
#app {
    height: 100vh;
    width: 100vw;
}

/* Scrollbar size */
.scroll ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll ::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

.scroll ::-webkit-scrollbar-thumb:vertical:hover,
.scroll ::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(110, 110, 110);
}

.scroll ::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll ::-webkit-scrollbar-thumb:vertical:active,
.scroll ::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(95, 91, 91, 1);
}

.scroll ::-webkit-scrollbar-corner {
  background: none;
}

/**
 *      ========================== Public ==========================
 */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #292A2D;
        --border: #35373e;
        --text: #f1f1f1;
        --text-2: #c5c6ca;
        --text-3: #a5a5ae;
        --select: #17191e;
        --accent: #6068d2;
        --accent-hover: #484fac;
        --shortcut: #383e4a;
        --placeholder: #63687b;
        --background-2: #202124;
        --background-odd: #242424;
        --background-even: #292929;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background: #fafcff;
        --border: #f2f3fb;
        --text: #2b2d41;
        --text-2: #2b2d41;
        --text-3: #929db2;
        --select: #eff3f9;
        --accent: #6068d2;
        --accent-hover: #484fac;
        --shortcut: #dadeea;
        --placeholder: #bac2d1;
        --background-2: #292d36;
    }
}

#devtools-container {
    height: 100vh;
    width: 100vw;
}

.text {
    font-size: 10px;
    color: var(--text);
}
.secondary-text {
    font-size: 10px;
    color: var(--text-2);
}

.flex-column {
    flex-direction: column;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.border {
    border:solid 1px var(--border);
}
.empty-wrapper {
    height: 100%;
    width: 100%;
}
.empty-icon {
    height: 48px;
    width: 48px;
    position: relative;
    margin-bottom: 8px;
}
.pl-2 {
    padding-left: 8px;
}
.pl-4 {
    padding-left: 16px;
}
.pr-2 {
    padding-right: 8px;
}
.pr-4 {
    padding-right: 16px;
}

/**
 *     ========================== ToolBar ==========================
 */
#toolbar {
    height: 26px;
    display: flex;
    align-items: center;
}
#tool-panel {
    height: calc(100% - 24px);
    display: flex;
}
#tool-panel > .request-list-wrapper,
#tool-panel > .rule-list {
    flex-grow: 0;
    flex-shrink: 0;
}
#tool-panel > .request-detail {
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
}
.title-bg-color {
    background-color: var(--background);
}
.icon-wrapper {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    cursor: pointer;
    overflow: hidden;
}
.icon {
    width: 16px;
    height: 16px;
    position: relative;
    left: -80px;
}
.img-disable {
    pointer-events: none;
}

.header,
.footer {
    height: 26px;
    flex-grow: 0;
    flex-shrink: 0;
    flex: 0;
    background-color: var(--background-2);
    line-height: 26px;
    padding: 0 8px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header:hover {
    background-color: var(--background-2);
}
.container {
    flex-grow: 1;
    flex-shrink: 1;
}
.container-padding {
    padding: 4px 8px;
}

/**
 * ========================== Reqeist list ==========================
 */ 
.request-list-wrapper {
    width: 220px;
    display: flex;
    flex-direction: column;
}
.rules-list {
    flex: 1;
}
.request-list {
    flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
}
.request-item {
    height: 20px;
}
.odd {
    background-color: var(--background-odd);
}
.even {
    background-color: var(--background-even);
}